#logo {
    content: url("../media/logo25x25.png");
    margin-right: 20px;
}

.w3-bar.w3-white.w3-large a {
    font-size: 25px;
}


/*NAV section*/

a.w3-bar-item.w3-button.w3-right.w3-mobile.fa {
    height: 53px;
}

.w3-red,
.w3-hover-red {
    color: #fff!important;
    background-color: #2980B9!important;
}


/*Footer Section*/

footer {
    height: 10%;
}

.w3-black,
.w3-hover-black {
    background-color: #2980B9 !important;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main img {
    width: 100%;
    height: 50%;
}

.map {
    margin-bottom: 2%;
    width: 100%;
    height: 200px;
}

.nav-background {
    color: #fff!important;
    background-color: #2980B9!important;
}


/*Animation Card*/

.animationCart {
    position: absolute;
    padding: 3px;
    box-shadow: 0 0 7px #b53;
    border-radius: 30%;
    background-color: #f90;
    font-size: 10px;
}


/*Button*/

button::after {
    content: "Añadir al carrito";
}


/*Disable button whenn the rotate animation ends*/

.disableButton {
    cursor: not-allowed;
    pointer-events: none;
}


/*Animation when u click in the add cart button*/

.buttonAnimation {
    animation: addCart-Animation 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1 both;
    background-color: #f90 !important;
}

.buttonbck {
    background-color: #f90 !important;
    opacity: 0.5;
}

.buttonAnimation:after {
    content: "Añadida al carrito";
}

@keyframes addCart-Animation {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    50% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
    100% {
        opacity: 0.5;
    }
}


/*Cart shopping numbers*/

#spanCart {
    position: absolute;
    visibility: hidden;
    padding: 4px;
    box-shadow: 0 0 7px #b53;
    border-radius: 40%;
    background: #f90;
    font-size: 10px;
}


/*Align center and padding to the container*/

.w3-container,
.w3-panel {
    padding: 0.01em 16px;
    margin-bottom: 20px;
    text-align: center;
}


/*waterMark on map*/

div[class="mq-logo-control leaflet-control"] img {
    display: none;
}

div[class="mq-attribution-control leaflet-control"] {
    display: none;
}